<h1>Create patient</h1>

<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="image">Photo</label>
    <input id="image" type="file" (change)="onPhotoSelected($event)" name="file">
    <img [src]="imgURL" height="200" *ngIf="imgURL">
    <br />
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="patient.name" name="name">
    <br />
    <label for="age">Age</label>
    <input id="age" type="number" class="form-control" [(ngModel)]="patient.age" name="age">
    <br />
    <label for="weight">Weight</label>
    <input id="weight" type="number" class="form-control" [(ngModel)]="patient.weight" name="weight">
    <br />
    <label for="height">Height</label>
    <input id="height" type="number" class="form-control" [(ngModel)]="patient.height" name="height">
    <br />
    <label for="address">Address</label>
    <input id="address" type="text" class="form-control" [(ngModel)]="patient.address" name="address">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
